@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<section class="content">
	<div class="col-xs-12">
		<h1 class="page-header">
			Dashboard <small>Hello @session.get("name")!</small>
		</h1>
	</div>

	<div class="clearfix"></div>
	
	<div class="col-xs-12">
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<span class="glyphicon glyphicon-question-sign"></span><strong style="margin-left: 10px;">Did you know?</strong> You could export lists to various formats (CSV, spreadsheet, etc.)
		</div>
	</div>

	<div class="panel-navigation">
		<div class="col-sm-3">
			<a href="#"> 
			<div class="tile black"> <div class="icon">
						<span class="glyphicon glyphicon-file"></span>
					</div>
					<h3>Audit Logs</h3>
					<p>View history of product changes</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="@controllers.manufacturer.routes.Products.index()">
				<div class="tile pink">
					<div class="icon">
						<span class="glyphicon glyphicon-list"></span>
					</div>
					<h3>Products</h3>
					<p>Add, edit, manage products</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="#">
				<div class="tile green">
					<div class="icon">
						<span class="glyphicon glyphicon-usd"></span>
					</div>
					<h3>Promotions</h3>
					<p>Manage promotion details</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="#">
				<div class="tile red">
					<div class="icon">
						<span class="glyphicon glyphicon-wrench"></span>
					</div>
					<h3>Admin</h3>
					<p>Browse and manage accounts</p>
				</div>
			</a>
		</div>
	</div>
</section>