@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<section class="content">
	<div class="col-xs-12">
		<h1 class="page-header">
			Dashboard <small>Hello @session.get("name")!</small>
		</h1>
	</div>

	<div class="clearfix"></div>

	<div class="col-xs-12 panel-navigation">
		<div class="col-sm-3">
			<a href="#"> 
			<div class="tile black"> <div class="icon">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<h3>Account</h3>
					<p>Edit user information</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="#">
				<div class="tile pink">
					<div class="icon">
						<span class="glyphicon glyphicon-list"></span>
					</div>
					<h3>Products</h3>
					<p>Add, edit, manage products</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="#">
				<div class="tile green">
					<div class="icon">
						<span class="glyphicon glyphicon-usd"></span>
					</div>
					<h3>Promotions</h3>
					<p>Manage promotion details</p>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="#">
				<div class="tile red">
					<div class="icon">
						<span class="glyphicon glyphicon-search"></span>
					</div>
					<h3>Accounts</h3>
					<p>Browse and manage accounts</p>
				</div>
			</a>
		</div>
	</div>
</section>